*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;

}

body,html{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
	background-color: rgb(26, 26, 26);
	width: 5px;
}
body::-webkit-scrollbar-thumb{
	background-color: rgb(255, 136, 0);
	border-radius: 10px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color:#ffffff!important;
}

nav{
	background-image:url("https://th.bing.com/th/id/OIP.ptgS0Asrkfq0xFDuIXk-6AHaEo?pid=ImgDet&rs=1");
	background-position: center;
	border-bottom: 2px solid rgb(255, 136, 0);
}

.nav-link{
	color: rgb(255, 136, 0)!important;
}

.nav-link:hover{
	background-color: white;
}

.bgpage{
    background-image:linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0.2)),url("https://wallpapercave.com/wp/wp4884686.jpg");
    background-position: center;
    background-size: cover;
    
}

.bgpage img{
    width: 100%;
}

.bgpage .row{
    display: flex;
    align-items: center;
    justify-content: center;
}



main{
	background-color: rgb(26, 26, 26);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px 20px;
}

.maps img{
	width: 100%;
}


.charc{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("https://wallpapercave.com/wp/wp5193135.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.charc img{
    max-width: 500px;
    width: 100%;
}

.char ol{
    bottom: -50px;
}

.charc li{
   width: 30px;
   height: 30px;
}

.charc li:nth-child(2){
    background-image: url("https://freefiremobile-a.akamaihd.net/common/web_event/officialwebsite/character/Kshmr/Khead.jpg");
    background-position: center;
    background-size: cover;
}


.charc li:nth-child(1){
    background-image: url("https://files.libero.pe/Libero/2020/07/24/15953968875f17d317a74d6-1595609665.jpg");
    background-position: center;
    background-size: cover;
}

.charc li:nth-child(3){
    background-image: url("https://th.bing.com/th/id/OIP.UAa1Rp06YkwfucMNoQPJwgAAAA?pid=ImgDet&rs=1");
    background-position: center;
    background-size: cover;
}


.charc li:nth-child(4){
    background-image: url("https://th.bing.com/th/id/OIP.Y-C03cX8nOAR287_jlOVrAHaFJ?pid=ImgDet&rs=1");
    background-position: center;
    background-size: cover;
}



.coustume img{
    width: 100%;
 max-width: 400px;
}

.pet{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("https://wallpapercave.com/wp/wp6960432.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pet img{
    width: 300px;
}



.card{
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
	background-color: rgb(26, 26, 26);
	color: white;
	border: 2px solid rgb(255, 136, 0);
}

.card img{
    max-width: 50px;
    margin: auto;
    padding: 0px 0px 10px;
    
}

.card p i{
    font-size: 20px;
}



iframe{
	width: 100%;
}

.testimonials .carousel-indicators{
    bottom: -50px;
}

.testimonials .carousel-indicators li{
	border-radius: 50%;
	background-color: orangered;
	width: 20px;
	height: 20px;
}

footer{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://th.bing.com/th/id/R.fddec046561ecd33281c833c7ece5c17?rik=GUwJPnv3bqjduw&riu=http%3a%2f%2fimg13.deviantart.net%2f70b4%2fi%2f2013%2f158%2f0%2f2%2fgarena_logo__altered__by_klebror-d683xce.png&ehk=xyzY4jYmFTdiYj1KUnSgAtHilYg86z3a%2f0vxZF82ptU%3d&risl=&pid=ImgRaw&r=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-top: 2px solid rgb(255, 136, 0);
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

